
.vs/DevEducation/v16/.suo

*.cache

*.testlog

*.manifest

*.dll

*.pdb

*.v2

*.tmp

*.json

HomeWork.Tests/obj/Debug/net5.0/HomeWork.Tests.csproj.FileListAbsolute.txt

HomeWork.Tests/bin/Debug/net5.0/HomeWork.exe
